footer {
    position: fixed;
    /* background-color: gray; */
    background-color: rgb(107, 218, 233);
    color: aliceblue;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    text-align: center;
  }

  .App {
    font-family: sans-serif;
    min-height: 100vh;
  }